[Desktop Entry]
Name=PredSenseLinux
Comment=Acer Predator Linux fan, lighting, and performance control
Exec=/opt/linuwu-gui/launch.sh
Icon=predsenselinux
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
